{% extends "layout.html" %}
{% block title %}CHALLENGE{% endblock %}
{% block page %}CHALLENGE{% endblock %}

{{ super() }}

{% block content %}

<style>     
    @media (min-width: 1024px) {
        .form{
            margin-left:20px
        }
        .input{
            width:250px;
            margin-left:20px;
        }
    }

    /* Styles for tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
        .form{
            margin-left: 20px;
        }
        .input{
            width:100px;
            margin-left:20px;
        }
    }

    /* Styles for phones */
    @media (max-width: 767px) {
        .form{
            margin-left: 20px;
        }
        .input{
            width:100px;
            margin-left:20px;
        }
    }
</style>

<div class="form">
    <form action="/waiting" method="POST" style="margin-top: 150px; display: flex">
        <button type="submit" class="btn-large" style="width:220px"> Create Challenge </button>
        <div class="input">
            <input placeholder="Enter a challenge code" name="code" type="text" required="">
        </div>
    </form>
</div>

{% endblock %}
