{% extends "layout.html" %}
{% block title %}CHALLENGE{% endblock %}
{% block page %}CHALLENGE{% endblock %}

{{ super() }}

{% block content %}

<style>     
    @media (min-width: 1024px) {
        .form{
            margin-left:20px
        }
        .input{
            width:250px;
            margin-left:20px;
        }
        .layout{
            margin-top: 150px; 
            display: flex;
        }
    }

    /* Styles for tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
        .form{
            margin-left: 20px;
        }
        .input{
            width:100px;
            margin-left:20px;
        }
        .layout{
            margin-top: 150px; 
            display: flex;
        }
    }

    /* Styles for phones */
    @media (max-width: 767px) {
        .form{
            margin-left: 20px;
        }
        .input{
            width:290px;
            margin-left:20px;
            margin-top:20px;
        }
        .btn-large{
            width: 330px;
        }
        .layout{
            margin-top: 150px; 
            display: grid;
        }
    }
</style>

<div class="form">
    <form action="/waiting" method="POST" class="layout">
        <button type="submit" class="btn-large"> Create Challenge </button>
        <div class="input">
            <input style="text-align: center;" placeholder="Challenge code" name="code" type="text" required="">
        </div>
    </form>
</div>

{% endblock %}
