{% extends "layout.html" %}
{% block title %}Wordle{% endblock %}
{% block page %}Wordle{% endblock %}

{{ super() }}

{% block content %}
    <form action="/" method="GET" style="margin-top: 150px;">
        <button class="btn-large" style="width: 220px;"> Create Challenge </button>
    </form>
    <form action="/" method="GET" style="margin-top: 15px; display: flex">
        <button class="btn-large" style="width:220px"> Join Challenge </button>
        <input style="margin-left:20px; width:130px" placeholder="  Challenge ID" name="challengeID" type="text" required="">
    </form>
{% endblock %}