{% extends "layout.html" %}
{% block title %}CHALLENGE{% endblock %}
{% block page %}CHALLENGE{% endblock %}

{{ super() }}

{% block content %}

<style>     

    @media (min-width: 1024px) {
        
        .title{
            margin-top: 30px;
            text-align: center;
        }

        .code{
            margin-top: 0px;
            text-align: center;
            font-size: 50px;
            color: #3D7EBF
        }

        .btn-large{
            margin-left: 400px;
            margin-top:30px;
        }
    }

    /* Styles for tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
        
        .title{
            margin-top: 30px;
            text-align: center;
        }

        .code{
            margin-top: 0px;
            text-align: center;
            font-size: 50px;
            color: #3D7EBF
        }
        
        .btn-large{
            margin-left: 400px;
            margin-top:30px;
        }
    }

    /* Styles for phones */
    @media (max-width: 767px) {

        .title{
            margin-top: 30px;
            text-align: center;
        }

        .code{
            margin-top: 0px;
            text-align: center;
            font-size: 40px;
            color: #3E8EDE
        }

        .btn-large{
            margin-left: 130px;
            margin-top:40px;
        }
    }
</style>
        <p class="title">CHALLENGE CODE:</p>
        <p class="code">{{ challenge.code }}</p>
        <p style="margin-top:70px"> Waiting for another player... </p>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <blockquote style="margin-top:80px">
            Game will begin when another player enters the challenge code
        </blockquote>
        <form action="/cancel/{{ challenge.code }}" method="POST">
            <button id="cancelButton" type="submit" class="btn-large">Cancel</button>
        </form>

    <script>
        let cancelPressed = false;
        let found = false
        const socket = io();

        // Handler for cancel button click
        document.getElementById('cancelButton').addEventListener('click', function(event) {
            cancelPressed = true;
        });

        // Handler for beforeunload event
        window.addEventListener('beforeunload', function(event) {
            if (!cancelPressed && !found) {
                // Send a synchronous request to delete the challenge
                showMessage("Challenge Cancelled")
                navigator.sendBeacon('/cancel/{{ challenge.code }}');
            }
        });


        socket.on('challenge_joined', (data) => {
            if (data.code === "{{ challenge.code }}") {
                found = true;
                window.location.href = '/game/${data.code}';
            }
            else{
                showMessage("almost")
            }
        });
         // Automatically join the room for this challenge
         socket.emit('join_challenge', { code: "{{ challenge.code }}" });


    </script>
{% endblock %}
